In [ ]:
import requests
import time, os
import re
import pandas as pd 
import numpy as np
import pickle
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import math
import patsy
import scipy.stats as stats
import statsmodels.api as sm
from sklearn import linear_model, model_selection
from sklearn.model_selection import train_test_split, cross_val_score, KFold
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
from sklearn.linear_model import LinearRegression ,Ridge, RidgeCV, Lasso, LassoCV, ElasticNet, ElasticNetCV
from sklearn.preprocessing import StandardScaler, PolynomialFeatures

In [ ]:
#import kaggle and merge on webscraped csv

In [ ]:
kaggle = pd.read_csv('movies.csv')
kaggle.head()

In [ ]:
kaggle.dtypes

In [ ]:
m = kaggle[kaggle['name'] =='Taken']

m

In [ ]:
m = kaggle[kaggle['name'] =='Arctic']

m

In [ ]:
#drop values not needed bc will merge 
kaggle.drop(['rating', 'released', 'score', 'votes', 'writer', 'country','gross', 'runtime'], axis = 1, inplace=True)

In [ ]:
kaggle.head()

In [ ]:
#replace budget to int

kaggle.info()

In [ ]:
kaggle.replace(np.nan, 0, inplace = True)



kaggle.info()

In [ ]:
#change budget to int64 

kaggle['budget']= kaggle['budget'].astype('int64')

kaggle.dtypes

In [ ]:
# rename to merge with webscraped csv

kaggle.rename(columns={'year': 'year_', 'budget': 'budget_', 'genre': 'genre_'}, inplace=True)

In [ ]:
kaggle.head()

In [ ]:
kaggle.shape

In [ ]:
# load webscraped csv

df = pd.read_csv('webscraped.csv')
df.head()

In [ ]:
m = df[df['title'] =='Arctic 2019 Re']
m

In [ ]:
df.shape

In [ ]:
#merge df to kaggle df 

movie_df = df.merge(kaggle, how='left', left_on=['title'], right_on=['name'])
movie_df.head(10)

In [ ]:
movie_df.shape

In [ ]:
movie_df.tail

In [ ]:
#get rid of duplicated columns 
movie_df.drop(['name', 'genre_', 'year_','company'], axis = 1, inplace = True)
movie_df

In [ ]:
m = movie_df[movie_df['title'] =='Taken']
m

In [ ]:
m = movie_df[movie_df['budget'] == 0]
m

In [ ]:
m = movie_df[movie_df['budget'] !=0]
m

In [ ]:
movie_df.replace(np.nan, 0, inplace = True)

movie_df.info()

In [ ]:
#check if any values are null 
movie_df.isnull().values.any()

In [ ]:
#replace budget_ as int 

movie_df['budget_']= movie_df['budget_'].astype('int64')



movie_df.dtypes

In [ ]:
movie_df

In [ ]:
movie_df[(movie_df['budget_'] != 0) & (movie_df['budget'] == 0)]

In [ ]:
movie_df[(movie_df['budget'] == 0)]

In [ ]:
movie_df[(movie_df['budget'] != 0)]

In [ ]:
# If the column havs NaNs instead of '' then use : 
mask1 =  movie_df['budget'] == 0  # A not empty
mask2 = movie_df['budget_'] !=0  # B not empty


# If budget == 0 and budget_ != 0 will replace budget to budget_ and C are not empty, A = C, else A keep its value 
movie_df['budget'] = np.where(mask1 & mask2, movie_df['budget_'], movie_df['budget'])

movie_df

In [ ]:
movie_df[(movie_df['budget_'] != 0) & (movie_df['budget'] == 0)]

In [ ]:
movie_df[(movie_df['budget'] == 0)]

In [ ]:
#drop budget_ column 

movie_df.drop(['budget_'], axis = 1, inplace= True)
movie_df

In [ ]:
movie_df[(movie_df['budget'] == 0)]

In [ ]:
#drop rows where budget is 0 

movie_df.drop(movie_df[movie_df['budget'] == 0].index, inplace = True)

In [ ]:
movie_df.shape

In [ ]:
movie_df.duplicated(subset=['title', 'year']).sum()

In [ ]:
movie_df.drop_duplicates(subset=['title', 'year'], inplace = True)

In [ ]:
movie_df.shape

In [ ]:
movie_df

In [ ]:
movie_df.info()

In [ ]:
#save as pickle 

movie_df.to_pickle('movie_clean.pkl')

In [ ]:
#save as csv 

movie_df.to_csv('movie_cleaned.csv', index = False)